#top{
    /* border: 2px solid blue; */
    margin-top: 25px;
    width: 83%;
    margin: auto;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 45px;
    justify-content: center;
    align-items: center;
}
.one{
    /* border: 1px solid red; */
    height: 550px;
    width: 750px;
    margin: auto;
}
.two{
    /* border: 1px solid red; */
    height: 550px;
    width: 750px;
}
.three{
    /* border: 1px solid green; */
    height: 130px;
    margin-top: -50px;
    width: 710px;
    margin-left: 5px;
}
.four{
    /* border: 1px solid green; */
    height: 130px;
    width: 710px;
    margin-top: -50px;
}
img{
    display: block;
    margin: auto;
    width: 750px;
    height: 550px;
}
.three_one{
    display: flex;
    margin-bottom: 5px;
}
.three_one >div{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
.three_one > div:first-child{
    margin-right: 40px;
    font-size: 19px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.three_one > div:nth-child(2){
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.three_two{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333333;
    font-size: 23px;
    font-weight: lighter;
}
#top_two{
    /* border: 2px solid blue; */
    width: 96%;
    margin: auto;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 45px;
    justify-content: center;
    align-items: center;
    margin-bottom: 52px;
}
#next_one{
    /* border: 1px solid blue; */
    height: 680px;
}
#next_two{
    /* border: 1px solid blue; */
    height: 680px;
}
#next_three{
    /* border: 1px solid blue; */
    height: 680px;
}
#next_four{
    /* border: 1px solid blue; */
    height: 110px;
    margin-top: -40px;
    width: 550px;
    margin-left: 10px;
}
#next_five{
    /* border: 1px solid blue; */
    height: 110px;
    margin-top: -40px;
    width: 550px;
    margin-left: 10px;
}
#next_six{
    /* border: 1px solid blue;  */
    height: 110px;
    width: 550px;
    margin-left: 10px;
    margin-top: -40px;
}
.photo{
    width: 550px;
    height: 680px;
}
.four_one{
    display: flex;
    margin-bottom: 5px;
}
.four_one >div{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
.four_one > div:first-child{
    margin-right: 40px;
    font-size: 17px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.four_one > div:nth-child(2){
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.four_two{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333333;
    font-size: 19px;
    font-weight: lighter;
    margin-left: 110px;
}
